<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VMCS Sources/src/sg/edu/nus/iss/vmcs/Vmcs.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sg.edu.nus.iss.vmcs.Vmcs"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="vmcs.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VMCS Sources"/>
</launchConfiguration>
